body {
    font-family: Arial;
    color:azure;
    font-size:100%;
    background-color: #699de0;
  }
  
  header {

    background-color: antiquewhite;
  
  }
  
  h1 {

    color:azure;
    text-align:center;
  
  }
  
  nav ul {



  }

  section {


  }

  footer {

    text-align:center;
    font-style:italic;

  }


