body {
    font-family: Arial;
    color:azure;
    font-size:100%;
    background-color: #699de0;
}

a {
    text-decoration: none;
    transition: text-shadow 0.3s ease;
}

a:hover, a:focus {
    text-shadow: 0px 0px 8px teal;
}

  header {
      background-color: antiquewhite;
  }
  
  h1 {
    color:teal;
    text-shadow: 4px 4px black;
    text-align:center;
    font-variant:small-caps;
  }
  
  nav ul {
      background-color: white;
      border-bottom: 1px solid #005A9C;
      border-top: 1px solid #005a9C;
     list-style-type: none;
      font-family: fantasy;
      padding: 0;
      margin: 0;
      text-align: center;
      display: flex;
      color: teal;
 }

section {
      color: teal; 
    }

footer {
     text-align:center;
    font-style:italic;
  }
  


